{
    "openai_endpoint": "https://myendpoint.openai.azure.com",
    "openai_key": "123456",
    "openai_deployment_name_gpt35": "gpt35",
    "openai_deployment_name_gpt41": "gpt41",
    "openai_deployment_name_gpt41_mini": "gpt41-mini",
    "openai_deployment_name_gpt4": "gpt4",
    "openai_deployment_name_gpt4o": "gpt4o",
    "openai_deployment_name_gpt4o_mini": "gpt4o-mini",
    "openai_deployment_name_o1": "o1",
    "openai_deployment_name_o3": "o3",
    "openai_deployment_name_o1_mini": "o1-mini",
    "openai_deployment_name_o3_mini": "o3-mini",
    "openai_deployment_name_o4_mini": "o4-mini"
}